{% extends "fightclub/base.html" %}

{% block content %}
<h2>Kontaktai</h2>
<br>
<div class="container">
    {% load crispy_forms_tags %}
    <!--Contact form-->
    <div class="container" style="width: 500px;">
        <h4>Susisiekite su mumis jeigu turite klausimų</h4>
        <br>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-primary register-button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

