{% extends "fightclub/base.html" %}

{% block content %}

<div>
    <h2>Mano profilis</h2>
    <br>
    <div class="container">
        <h3>Labas {{ user.username }}!</h3>
        <br>
        <div class="container">
            <h4>Mano grupės:</h4>
            <a href="{% url 'groups' %}">
                <p>{{ membership.display_group }}</p>
            </a>
            <br>
        </div>
        <div class="container">
            <h4>Mano narystė:</h4>
            <a href="{% url 'prices' %}">
                <p>{{ membership.membership }}</p>
            </a>
            <br>
        </div>
        <div class="container">
            <h4>Mano tikslas:</h4>
            <p>{{ profile.goal }}</p>
        </div>
    </div>
</div>

{% endblock %}